%h1
  My Subscriptions

%div
  = link_to "Update Subscriptions from Youtube", "/update_subscriptions"

%h2 Music Channels
- current_user.channels.music.each do |channel|
  %div
    = link_to channel.title, channel

%h2 Normal Channels
- current_user.channels.normal.each do |channel|
  %div
    = link_to channel.title, channel
