%h1
  ="Welcome #{current_user.name}"

%div
  =link_to "Subscribed Channels", "/channels"

%h2 My Series
%div
  =link_to "Create a new series", new_series_path
.series
  -@series.each do |series|
    .video-container{data: {id: series.id}}
      .handle
        .title=series.title
        .remove-series-button=link_to "X", series_path(series), method: "DELETE"
        .clear-div
      -if series.next_video
        =render partial: 'video', locals: {video: series.next_video}
      -else
        You've watched all of this series so far!

.clear-div
%h2 Other Videos
.channels
  -@channels.each do |channel|
    -if channel.videos.size > 0
      .channel-container{data: {id: channel.id}}
        .handle
          .title=channel.title
          .clear-div
        .video-container
          -channel.videos.where(series_id: nil, watched: false).order('created_at DESC').each do |video|
            =render partial: 'video', locals: {video: video}

%script
  new SVPX.HomePage();
  SVPX.ScrollProcessor.process();