.svpx-header
  text-align: center
  font-size: 32px
  font-weight: bold

.video-container
  float: left
  width: 33%
  height: 210px
  .video
    cursor: pointer
    .thumbnail
      float: left
      width: 30%
      img
        width: 100%
    .description
      float: left
      width: 70%
    .watched-link
      a
        text-decoration: none
      clear: both
      float: left
      &:hover
        border: 1px solid black