.series-form
  %h1 Create new Series
  =form_for @series do |f|
    .row
      =f.label :title, "Series Title"
      =f.text_field :title

    .row
      %p=@title
      %p Enter the part of the title that will be the same for every video in the series.
      =f.label :regex
      =f.text_field :regex

    %p Channels
    .channels
      = collection_check_boxes :series, :channel_ids, current_user.channels, :id, :title do |b|
        .row{style: "display: none;", data: {id: b.value}}
          = b.label { b.text + b.check_box }

    =f.submit "Create"


%h2 Matched Videos
.series
%script
  new SVPX.SeriesFormPage();
